<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
<title>TRIP PLANNER</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style1.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--<script src="js/jquery.easydropdown.js"></script>-->
<!--start slider -->
<link rel="stylesheet" href="{% static 'css/fwslider.css' %}" media="all">
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/fwslider.js' %}"></script>
<!--end slider -->

</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="/myapp/index/"><img src="{% static 'images/logo.png' %}" alt=""/></a>
					 </div>
					 <div class="menu">
						    <ul class="nav" id="nav">

								<li><a href="/myapp/loggedin/">Home</a></li>
						    	<li><a href="/myapp/packages/">Tour Packages</a></li>
								<li class="current"><a href="/myapp/hotdeals/">Hot Deals</a></li>
                                <li><a href="/myapp/contact/">Contact Us</a></li>
								<li><a href="/myapp/index/">Logout</a></li>

								<div class="clear"></div>
							</ul>
					 </div>
	    		    <div class="clear"></div>
	    	    </div>
	            <div class="header_right">
					<div class="clear"></div>
    		        <div class="clear"></div>
	       </div>
	      </div>
		 </div>
	    </div>
	  </div>

	  <div class="features">
		<div class="container">
			<h3 class="m_3">Explore India</h3>
			<div class="close_but"><i class="close1"> </i></div>
			  <div class="row">
				<div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="/myapp/south_india/">
                    <img src="{% static 'images/pic1.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>South India</h2>
						  <div class="center"><a href="/myapp/south_india/" style="text-decoration: none;">Ayurveda, Scenary...</a></div>
                      </div>
                   </a>
                  </div>
                </div>
                <div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="/myapp/kashmir">
                    <img src="{% static 'images/pic2.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Kashmir</h2>
						  <div class="center"><a href="/myapp/kashmir" style="text-decoration: none;">Mountains, Snow...</a></div>

						  <!--<p>Monastries,Trecking...</p>-->
                      </div>
                    </a> </div>
				</div>

				<div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="/myapp/goa/">
                    <img src="{% static 'images/pic3.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Goa</h2>
						  <div class="center"><a href="/myapp/goa/" style="text-decoration: none;">Beaches...</a></div>
                      </div>
                    </a> </div>
					 <div>
					  <br>
				  </div>
					<!--<div class="center"><a href="#">See Details</a></div>-->

				</div>
				<div class="col-md-3 top_box1">
					<div class="view view-ninth"><a href="/myapp/manali">
                    <img src="{% static 'images/manalio.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Manali</h2>
						  <div class="center"><a href="/myapp/manali/" style="text-decoration: none;">Adventure...</a></div>

						  <!--<p>Festivals,Colors,Palaces....</p>-->
                      </div>
                     </a> </div>
					 <div>
					  <br>
				  </div>
				</div>

				<div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="/myapp/varanasi">
                    <img src="{% static 'images/pic5.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Varanasi</h2>
						  <div class="center"><a href="/myapp/varanasi/" style="text-decoration: none;">Divine, Peaceful...</a></div>

						  <!--<p>Palaces,Forts,Deserts</p>-->
                      </div>
                   </a>
                  </div>
                  <!--<h4 class="m_4"><a href="#"></a></h4>-->
                  <!--<p class="m_5">claritatem insitam</p>-->
					<!--<div class="center"><a href="#">See Details</a></div>-->
                </div>
                <div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="/myapp/rajasthan">
                    <img src="{% static 'images/pic6.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Rajasthan</h2>
						  <div class="center"><a href="/myapp/rajasthan/" style="text-decoration: none;">Forts, Palaces...</a></div>

						  <!--<p>Monastries,Trecking...</p>-->
                      </div>
                    </a> </div>
                   <!--<h4 class="m_4"><a href="#">nostrur</a></h4>-->
                   <!--<p class="m_5">claritatem insitam</p>-->
					<!--<div class="center"><a href="#">See Details</a></div>-->

				</div>
				<div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="/myapp/north">
                    <img src="{% static 'images/pic7.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>North India</h2>
						  <div class="center"><a href="/myapp/north/" style="text-decoration: none;">Explore...</a></div>
						  <!--<p>Backwaters,Ayurveda...</p>-->

                      </div>
                    </a> </div>
					<!--<div class="center"><a href="#">See Details</a></div>-->

				</div>
				<div class="col-md-3 top_box1">
					<div class="view view-ninth"><a href="/myapp/north_east/">
                    <img src="{% static 'images/pic8.jpg' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                        <div class="content">
                        	<h2>North East India</h2>
						  	<div class="center"><a href="/myapp/north_east/" style="text-decoration: none;">Festivals,Mountains...</a></div>
					  	</div>
					<div><br><br></div>
                </a> </div>


			</div>
		</div>		
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-3">
					<ul class="footer_box">
						<h4>QUICK LINKS</h4>
						<li><a href="/myapp/index/">HOME</a></li>
						<li><a href="/myapp/contact/">ABOUT US</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<ul class="footer_box">
						<h4>Destinations</h4>
						<li><a href="/myapp/varanasi/">VARANASI</a></li>
						<li><a href="/myapp/rajasthan/">RAJASTHAN</a></li>
						<li><a href="/myapp/kashmir/">KASHMIR</a></li>
						<li><a href="/myapp/manali/">MANALI</a></li>
					</ul>
				</div>


				<div class="col-md-3">
					<ul class="footer_box">
						<h4>Customer Support</h4>
						<li><a href="/myapp/contact/">CONTACT US</a></li>

					</ul>
				</div>



				<div class="col-md-3">
					<ul class="footer_box">
						<h4>Newsletter</h4>
						<div class="footer_search">
			    		   <form>
			    			<input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
			    			<input type="submit" value="Go">
			    		   </form>
				        </div>
		              <ul class="social">
		                <li class="facebook"><a href="https://www.facebook.com" target="_blank"><span> </span></a></li>
		                <li class="twitter"><a href="https://www.twitter.com" target="_blank"><span> </span></a></li>
		                <li class="instagram"><a href="https://www.instagram.com" target="_blank"><span> </span></a></li>
		                <li class="pinterest"><a href="https://www.pinterest.com" target="_blank"><span> </span></a></li>
		                <li class="youtube"><a href="https://www.youtube.com" target="_blank"><span> </span></a></li>
		              </ul>

		            </ul>
		          </div>
		        </div>
		        <div class="row footer_bottom">
		            <div class="copy">
		                 <p>© ak038. All rights reserved</p>
	            </div>
				</div>
		</div>
	</div>
  </div>
</body>
</html>



